<form *ngIf="customers | async; else loading" [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field class="form-item">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="form-item">
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="form-item">
    <input matInput placeholder="Phone" formControlName="phone">
  </mat-form-field>

  <mat-form-field class="form-item">
    <input matInput placeholder="Address" formControlName="address">
    <mat-error>You must enter a value</mat-error>
  </mat-form-field>
  
  <mat-form-field class="form-item">
    <input matInput placeholder="City" formControlName="city">
  </mat-form-field>
  
  <mat-form-field class="form-item">
    <input matInput placeholder="State" formControlName="state">
  </mat-form-field>
  
  <mat-form-field class="form-item">
    <input matInput placeholder="Zipcode" formControlName="zipcode">
  </mat-form-field>

  <div class="form-actions">
    <button
      [disabled]="processingRequest"
      class="back-button"
      mat-raised-button
      routerLink="/customers"
      type="button"
    >
      Back
    </button>

    <button
      [disabled]="processingRequest"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Save
    </button>
  </div>
</form>

<ng-template #loading>
  Loading Customer...
</ng-template>