/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.clickable {
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
}

.form-item {
  flex: 0 48%;
  margin: .1em;
}

.form-actions {
  flex: 1 100%;
  display: flex;
  justify-content: center;
}

.back-button {
  margin-right: 1em !important;
}

.text-center {
  text-align: center;
}

.disabled {
  pointer-events: none;
  color: gray;
  cursor: default;
  transition: color .2s;
}