<div class="text-center">
  <h3>
    Thanks a lot for the opportunity all code was made by <a target="_blank" href="http://valterbarros.com">Valter Barros</a>
  </h3>
  
  <p>
    <a routerLink="customers">Click here to see the customers list</a>
  </p>
</div>