<button (click)="onAddCustomerClick()" class="create-button" mat-fab>
  <mat-icon>add</mat-icon>
</button>

<table mat-table [dataSource]="customers | async" class="mat-elevation-z8 customer-list">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        class="clickable edit-link"
        [routerLink]="['/customers', element.id, 'edit']"
      >
        edit
      </mat-icon>

      <mat-icon
        [class.disabled]="processingRequest"
        [class.remove-link]="true"
        class="clickable"
        (click)="onDeleteClick(element.id)"
      >
        delete
      </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>