<div id="app">
  <div id="header">
    <div id="links_header">
      <a class="title" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Home</a>
      <a class="title" routerLink="customers" routerLinkActive="active">Customers</a>
    </div>
  </div>
</div>