#header {
  background-color: #1e90ff;
  color: white;
  text-align: left;
  height: 50px;
  vertical-align: middle;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

#links_header {
  position: relative;
  > .title {
    font-size: 17px;
    margin: 0;
    padding: .9em;
    display: inline-block;
    text-decoration: unset;
    color: white;
    &:hover {
      color: #f3f3f3;
    }
    &.active {
      border-radius: 0.1em;
      border-bottom: 0.3em solid #ffe080;
    }
  }
}